extends template/layout
//- include ../components/menu/menu

block variables
	- var title = 'Kazan Mall'

block content
	//- +menu(menuHeader)
	//- +img('example/preview.jpg', `lazyload`)

	//- svg
	//- 	use(xlink:href="/assets/images/required/sprite.svg#accordion")
